<files ~ "(?i)(^config\.php$|\.(ini|log|dat|json|inc)$)">
	Require all denied
</files>
<Files "manifest.json">
	Require all granted
</Files>
<IfModule mod_headers.c>
    Header set Content-Security-Policy "worker-src 'self' blob:;"
</IfModule>

